body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #111111;
    padding: 100px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
}

main {
    padding: 20px;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 100px;
}

.blog-post {
    background-color: white;
    border-radius: 0px;
    overflow: hidden;
    width: 48%;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.post-content {
    padding: 20px;
}

.post-content span {
    display: block;
    color: #777777;
    margin-bottom: 5px;
}

.post-content h2 {
    margin: 10px 0;
    font-size: 24px;
}

.post-content p {
    font-size: 16px;
    line-height: 1.6;
}

.post-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.post-content a:hover {
    text-decoration: underline;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination a {
    margin: 0px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: yellow;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Media Queries */
@media (max-width: 768px) {
    .post-content h2 {
        font-size: 1.2em;
    }

    .post-content p {
        font-size: 0.9em;
    }

    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .pagination .page,
    .pagination .next {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .blog-post {
        margin-bottom: 20px;
    }

    .post-content {
        padding: 10px;
    }

    .post-content h2 {
        font-size: 1em;
    }

    .post-content p {
        font-size: 0.8em;
    }

    .pagination .page,
    .pagination .next {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}