

body {
    font-family: "oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

/* header {
    background-color: #111111;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
} */

.blog {
    background-color: black;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Assets/blogbanner.jpg);
    width: 100%;
    height:60vh;
    background-size: cover;
    z-index:-1
  }
  
  .blog h1 {
    color: #fff;
    font-size: 60px;
    margin-top: -1%;
  }
  

main {
    padding: 20px;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: none;
}

.blog-post {
    background-color: white;
    border-radius: 0px;
    overflow: hidden;
    width: 48%;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.post-content {
    padding: 20px;
}

.post-content span {
    display: block;
    color: #777777;
    margin-bottom: 5px;
}

.post-content h2 {
    font-family: "oswald";
    margin: 10px 0;
    font-size: 24px;
}

.post-content p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.post-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.post-content a:hover {
    text-decoration: underline;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 1%;
    margin-bottom: 5%;
}

.pagination a {
    margin: 0px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #d8ff00;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Media Queries */
@media (max-width: 768px) {
    .blog-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .blog-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}





