/* Navigation  */
.navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    margin-left: 10px;
    font-family:sans-serif;
    font-weight: normal; 
  }
  .navbar-expand-lg{
    background-color: #000;
  }
  .navbar-nav{
    margin-right: 40px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #e3ff04;
  }
  
  .navbar-brand {
    margin-left: 60px;
  }
  
  .carousel-caption {
    bottom: 28%;
    text-align: left;
    margin-left: -110px;
    font-family:"Oswald";

  }
  
  .carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.5rem;
  }
  
  .carousel-caption .btn {
    font-size: 1.4rem;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 2%;
    width: 15%;
  }
  
  .carousel-caption .btn:hover {
    background-color: #e3ff04;
    color: #000;
  }
  
  .carousel-item{
      height:550px;
      margin: 0;
      padding:0;
      flex: 0 0 auto; 
  }

.nav-item .btn{
    background-color: #e3ff04;
    width: 100px;
}


body {
    font-family: "oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #111111;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    color: #ffffff;
    margin: 0;
}

main {
    padding: 20px;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 100px;
}

.blog-post {
    background-color: white;
    border-radius: 0px;
    overflow: hidden;
    width: 48%;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.post-content {
    padding: 20px;
}

.post-content span {
    display: block;
    color: #777777;
    margin-bottom: 5px;
}

.post-content h2 {
    margin: 10px 0;
    font-size: 24px;
}

.post-content p {
    font-size: 16px;
    line-height: 1.6;
}

.post-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.post-content a:hover {
    text-decoration: underline;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination a {
    margin: 0px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #d8ff00;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}







