body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
    text-align: center;

}


.Customworkouts {
    height: 20rem;
    background-color: #0a0c00;
    overflow: hidden;
}

.Customwh2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}



.CustomsecondSectionHeading{
    margin: 5rem 2rem 0rem 2rem;
    font-size: 4rem;
    text-align: center;
    padding: 0rem 10rem;

}


.CustomsectionOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8rem;
    gap: 1rem;
}


.CustomposterImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}





.Customsubhead{
    margin: 1rem 0rem 1rem 0rem;
    font-size: 2rem;
}



.CustomlifeStyle{
    position: relative;
    margin-top: 15rem;
 
}
.Customcontainer{
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    background-color: #0a0c00;

}
.Customcontent{
    background-color: #0a0c00;
    width: 40%;
    margin-left: 8rem;
    color: white;
    margin-bottom: 5rem;
}
.Customheading{
    margin-top: 2rem;
    font-size: 3.4rem;
    text-align: left;
}
p{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2;
    text-align: left;
}

.Customimage2{
    position: absolute;
    right: 0px;
    top: -85px;
    width: 42rem;
    height: 43rem;
}
.Customimage1{
    position: absolute;
    left: 0px;
    bottom: -15px;
    width: 10rem;
    height: 15rem;
}
table{
    border-spacing: 0;
}
table th{
font-size: 4rem;

}
table td{
    font-size: 2rem;
    font-weight: 300;
}

table tr th:not(:last-child),
table tr td:not(:last-child) {
    border-right: 2px solid rgb(255, 255, 255);
}

table tr th:first-child,
table tr td:first-child {
    padding-right: 4rem;
}

table tr th:last-child,
table tr td:last-child {
    padding-left: 4rem;
}




.Custommember{
    display: flex;
    flex-direction: row;
    margin: 8rem;
}
.Custommemberhead .Customheading{
    margin-bottom: 0px;
    
}
.Custompara{
    margin-top: 1.2rem;
    line-height: 1.3;
}
.Customgymposter{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.Customimage3{
    width: 43rem;
    height: 43rem;
}
.Custommembercards{

    padding: 4rem;
    background-color: #f6f5f3;
}
.CustommemberContainer{

    background-color: #f6f5f3;
}
.Customimage4{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}
.CustommemberContent p{
    text-align: center;
}
.CustommemberContent p:nth-of-type(3){
    font-weight: 900;
    font-size: 2.3rem;
    margin-bottom: 0px;
}

.CustommemberContent p:nth-of-type(4){
    font-weight: 100;
    font-size: 1.6rem;
    margin-top: 0px;
    letter-spacing: 0.3rem;
}

.Customservices{
    background-color: #e3ff04;
    padding: 2rem;
}
.Customservicescontainer{
    margin: 0px;
}
.Customservicescontainer h2{
    line-height: 1;

}
.Custombanner{
    padding: 0.3rem 0rem;
    background-color: #e3ff04;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    gap:6rem;
    
}
.Custombanner h3{
    font-size: 3rem;
    animation: rightToLeft 10s infinite linear;
}
@keyframes rightToLeft {
to{
    transform:translateX(calc(-100% - 6rem));
}
    
}

.CustomcontainerJoin{
    display: flex;
    flex-direction: row;
    background-color: #0a0c00;
    color: white;
}
.CustomcontentJoin{
    padding: 8rem 15rem 8rem 8rem ;

}
.CustomcontentJoin h2{
    margin: 0px;
}
.Customjoinusbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
}
.JoinusCustomButton{
    background-color:#e3ff04 ;
    border-radius: 100%;
    font-size: 1.5rem;
    width: 10rem;
    height: 10rem;

}
a{
    text-decoration: none;
    color: black;
}
.JoinusCustomButton:hover{
    background-color: #f6f5f3;
}



/* media query  */

@media screen and (max-width:1496px) {
    .Custommember{
        margin: 1rem 1rem 1rem 8rem ;
    }
}
  
@media screen and (max-width:1357px) {
    .Customheading{
        font-size: 2.2rem;
       }
       .p{
        font-size: 1rem;
           }
           .Customimage2{
            width: 33rem;
            height: 28rem;
           }
           .Custommember{
            margin: 1rem;
        }
        
        }


  
@media screen and (max-width:1150px) {
    .menu2{
        margin-left: 0% !important;
    }
    
    .menu3{
        margin-left: 0% !important; 
    }
    
    .CustomlifeStyle{
        margin-top: 0.2rem;
    }
    .JoinusCustomButton{
        margin-bottom: 0.6rem;
    }
    /* activity section  */

.CustomsectionOne{
    margin: 1.2rem;
    flex-wrap: wrap;
     justify-content: center; 
}
.CustomposterImage{
    width: 27rem;
    height: 35rem;
}

   /* lifestyle  */
   .Customcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
   }

   .Customimage2{
    position: static;
    width: 100%;
    height: 50rem;

   }
   .Customimage1{
    display: none;
   }
   .Customimage-container{
    margin: 1rem;
   }
   .Customcontent{
    width: auto;
    margin-left: 1rem;
    margin-top: 1rem;
   }


   /* member  */
    .Custommember{
        flex-direction: column;
    }
    .Customgymposter{
       margin: 0px;
    }
    .Customimage3{
        width: 100%;
        height: 53rem;
    }
    .Customservices{
        margin-top: 3rem;
    }
    .Customnum{
        font-size: 3rem;
    }
    .Customdesc{
        font-size: 1.2rem;
    }
    .Custombanner h3{
        font-size: 2.2rem;
    }

}
@media screen and (max-width:1025px) {

 
.CustomcontainerJoin{
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.Customjoinusbutton{
align-items: center;
}
.CustomcontentJoin{
    padding: 1rem ;
}
p{
    font-size: 1rem;
}
.JoinusCustomButton{
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
}
.CustomsecondSectionHeading{
 padding: 0rem 5rem;
 font-size: 2.5rem;
}

}
@media screen and (max-width:580px){
 
.CustomsecondSectionHeading{
        padding: 0rem 0rem;
        font-size: 2.3rem;
       }
.Customimage3{
    height: 25rem;
}
.Customservices{
    margin-top: 1rem;
}
.Custommembercards{
    padding: 1rem;
}
.CustommemberContent p:nth-of-type(3){
    font-size: 1.6rem;
}
.CustommemberContent p:nth-of-type(4){
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.Customimage2{
    height: 23rem;
}
.CustomposterImage{
    width: 18rem;
    height: 26rem;
}
.Customnum{
    font-size:1.5rem ;
}
.Custombanner h3{
    font-size: 1.7rem;
}

}
 @media screen and (max-width:480px){
    .CustomsecondSectionHeading{
        font-size: 1.7rem;
       }
       .Customheading{
        font-size: 1.3rem;
       }
       p{
        font-size: 0.9rem;
       }
       .Customsubhead{
        font-size: 1.6rem;
       }
 
} 

         

/* animation  */
.CustomposterImage {
    transition: transform 0.3s ease-in-out;
}
.CustomposterImage:hover {
    transform: translateY(0) scale(1.1);
}
